@model AirportModel


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

@{
    ViewData["Title"] = "Create airport";
}

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
        <form method="post">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group dropdownCss">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
                <div class="dropdownCss-content">
                    <p>@AIRPORT_TOOLTIP</p>
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Create airport</button>
            </div>
            <span class="text-danger" id="result">@TempData["Result"]</span>
        </form>
    </div>
</div>